<h1><%= @dog.name %></h1>

<ul>
<li><%= @dog.breed %></li>
<li><%= @dog.age %></li>
</ul>

<h3>Associate employees</h3>
<ul>
<% @dog.employees.each do |employee| %>
<li><%= employee.alias %></li>
<% end %>
</ul>